extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner GitLab Coffee Shop
    div.Message
      div.Title
        h3 Every Friday
        h1 Free Coffee between 5-6pm in our new London venue !
    div.NavButtons
      a(href="/user")
          div.NavButton Menu
